body {
    background-color:rgba(0, 0, 0, 0.918);
    padding: 50px;
}
.cards-colletions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*adiciona espaçamente entre as colunas*/
    gap: 15px;
}
.card-container {
    width: 85%;
    height: 100%;

    padding: 0 10% 10% 10%;
    background-color: white;
    box-sizing: border-box;

    box-shadow: 10px 5px 10px rgba(158, 158, 159, 0.378);
    border-radius: 8px;
    
}
.card-header__title {
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}

.card-header__img {
    width: 100%;
}

.card-body__p {
    padding-bottom: 30px;
}

.card-body__link {
    width: 150px;
    height: 50px;

    background-color: rgb(211, 211, 211);

    padding: 10px;

    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;

    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: none;
}